#table {
    width: 100vw;
    height: 100vh;
    background-image: url("/assets/img/rusty.jpg");
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#stack {
    position: relative;
    img {
        position: absolute;
        width: 150px;
        height: 210px;
    }
}

.top {
    cursor: pointer;
    transition: all 100ms ease-in-out;
    &:hover {
        transform: scale(1.1) translate(10px, 10px);
    }
}

.draw {
    transition: all 100ms ease-in-out;
    transform: scale(1.2) rotateY(180deg) !important;
}