.drawBack {
    // transition: all 500ms ease-in-out;
    transform: scale(1.1)!important;
    animation: aniBack ease-in-out 500ms;
    pointer-events: none;
}

.drawTop {
    position: absolute;
    // transition: all 500ms ease-in-out;
    transform: translate(300px, -300px)!important;
    animation: aniTop 500ms ease-in-out;
}

@keyframes aniBack {
    0% {
        transform: scale(1.1) translate(10px, 10px);
    }
    100% {
        transform: scale(1.1) translate(10px, 10px) rotateY(90deg);
    }
}

@keyframes aniTop {
    0% {
        transform: scale(1.1) rotateY(90deg) translate(10px, 10px);
    }
    50% {
        transform: scale(1.1) rotateY(0deg) translate(10px, 10px);
    }
    100% {
        transform: translate(300px, -300px)
    }
}